{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "mocha": true
  },
  "globals": {},
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "mocha/no-global-tests": "error",
    "mocha/no-identical-title": "error",
    "mocha/no-pending-tests": "warn",
    "mocha/no-skipped-tests": "error",
    "no-use-before-define": 0
  }
}