# IDEs (WebStorm, PhpStorm, Eclipse etc.)
*.iml
*.ipr
*.iws
.idea/
.project

# temp
.tmp/
example.config.json

# coverage report
coverage/

# tests
test/

# docs
docs/

# dev environment
.githooks
.editorconfig
.eslintignore
.eslintrc
.travis.yml